<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>

  <body>
    <!-- <canvas id="myCanvas" width="300" height="100"></canvas> -->
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">NBA Stats</li>
          <li><a href="/"> Home </a></li>
          <li><a href="/westernconference/"> Western Conference </a></li>
          <li><a href="/easternconference/"> Eastern Conference </a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    {% block content %}
    {% endblock %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
