
#tester {
  background:yellow;
  /*background-image: url("/static/pictures/large_logos/puzzle.jpg");
  background-size: contain;*/
}

/*.flexFont1 {
  font-size:8em;
}
.flexFont2 {
  font-size:8em;
}*/

a {
  color: black;
}
a:hover{
  color: black;
}

#CONFBANNER {
  text-align:center;
}

/*#chart_div {
  border-style: solid;
  border-color: red;
}*/

/*.container {
    position: relative;
}

.imageScore {
    position: absolute;
    top:2em;
    left:4.5em;
}*/

.title {
  background:MediumSeaGreen;
}

/*.fixme {
  box-shadow: 0 0 3px 3px white inset;
}*/


/*body {
    font-size: 100%;
}*/

/*span {
    font-size: 7.5vw;
}
@media (min-width: 300px){
  :span {
    font-size: 3vw;
}*/

/*@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}*/

/*body, html {
    height:100%;
    width:100%;
    font-family: "San Francisco";
    font-weight: 200
}*/



/*rgba(255,0,0,0)*/
/*Stupid method to get transparency, asumes background is white*/
/*.FULL {
  background-image:
  linear-gradient(to bottom, white 0%, rgba(255,0,0,0) 3%),
  linear-gradient(to top, white 0%, rgba(255,0,0,0) 3%),
  linear-gradient(to right, white 0%, rgba(255,0,0,0) 1%),
  linear-gradient(to left, white 0%, rgba(255,0,0,0) 1%),
  linear-gradient(100deg, #00471B 15%, #00788C 25%)
}
.TEAMS {
}
.INFO {

}
.LINK {
}*/

/*.btn:hover {
  background-color: #3e8e41;
  color: white;
}*/

/*#checkerme {
  background-image: url("/static/pictures/large_logos/checker.jpg");
}*/

/*.RANDOM {
  background:yellow;
}*/
